    
    <h1 class="mb-3">
        Working with Mock data
    </h1>
    <h1 class="mb-3">Products</h1>
    <div class="container">
        <div class="row d-flex justify-content-around">
    {{#each data}}
    <div class="col">
    <div class="card" style="width: 18rem;">
  <img src="{{this.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-success">price: {{this.price}}</a>
  </div>
</div>
</div>
    {{/each}}
    </div>
    </div>


    <div class="d-flex flex-column justify-content-center mt-3">
    
        <div class="d-flex justify-content-center mb-5">
    <form action="saveUser"  method="post" class=" d-flex flex-column" style="width: 500px;">
        <h1>Date de Alta</h1>
        <label for="id" class="input-group-tex">Email</label>
        <input type="text" name="id" id="id" class="form-control">
        <label for="nombre"class="input-group-tex" >Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control">
        <label for="apellido" class="input-group-tex">Apellido</label>
        <input type="text" name="apellido" id="apellido" class="form-control">
        <label for="edad" class="input-group-tex">Edad</label>
        <input type="text" name="edad" id="edad" class="form-control">
        <label for="alias" class="input-group-tex">Alias</label>
        <input type="text" name="alias" id="alias" class="form-control">
        <label for="avatar" class="input-group-tex">Avatar (ingrese un Link)</label>
        <input type="text" name="avatar" id="avatar" class="form-control">

        <input type="submit" value="SUBMIT" class="btn btn-success mt-3">
    </form>
    </div>
    <h1>Centro de mensajes</h1>
        <form onsubmit="return addinfo()" class="mt-3">
            <label>Email</label>
            <input type="text" name="user" placeholder="Pon tu usuario aqui" id="user">
            <label>Mensaje</label>
            <input type="text" name="message" placeholder="Pon tu mensaje aqui" id="msn">
            <input type="submit" class="btn btn-success mt-3">
        </form>
        <div id="caja">

        </div>
    </div>